@inherits LayoutComponentBase

<PageTitle>ImpossibleHangman_Blazor</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-2 py-3">
            <h1>Impossible Hangman</h1>
            <a href="https://github.com/smophat7/impossible-hangman" target="_blank" style="margin-left: auto">GitHub</a>
        </div>

        <article class="content px-2">
            @Body
        </article>
    </main>
</div>
