@inherits LayoutComponentBase

<PageTitle>ImpossibleHangman_Blazor</PageTitle>

<div class="page">
    <main>
        <div class="hangman-top-row px-2 py-3">
            <h1 class="mb-0">Impossible Hangman</h1>
            <a href="https://github.com/smophat7/impossible-hangman" class="github-link" target="_blank">
                <i class="fab fa-github fa-2x"></i>
            </a>
        </div>

        <article>
            @Body
        </article>
    </main>
</div>
