@inherits LayoutComponentBase

<PageTitle>ImpossibleHangman_Blazor</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-2 py-3">
            <h1>Impossible Hangman</h1>
@*            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Code</a>*@        
        </div>

        <article class="content px-2">
            @Body
        </article>
    </main>
</div>
